node_modules/
dist/
dist-quest/
quest/.gradle/
quest/.kotlin/
quest/build/
quest/app/build/
quest/local.properties
release/
third_party/
android/.gradle/
android/build/
android/app/build/
android/local.properties
build/linux-libs/

.wired-dev/
